head {
    display: none;
}
body {
    margin: 0;
    font-family: "Lexend Mega", sans-serif;
    color: black;
    background-color: white;
    font-size: 22px;
    text-align: center;
  }
  
  a {
    color: black;
  }
  
  h2,
  h3,
  h4,
  p {
    margin: 0;
    padding: 10px;
  }
  
  .header {
    display: flex;
    flex-direction: column;
    align-items: cetner;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    margin: 0 10%;
  }
  
  .navbar p {
    display: inline-block;
    padding: 20px 20px;
  }
  
  .main {
    padding-top: 25px;
    opacity: 0.9;
  }
  
  .mission {
    display: flex;
    height: 300px;
    background-image: url("photo4.webp");
    background-repeat: no-repeat;  
    background-position: center; 
    background-size: cover;
    padding-top: 35px;
  }
  
  .mission .content {
    margin: auto;
    background-color: rgb(133, 212, 226);
    width: 100%;
  }
  
  #portfolio {
    min-height: 500px;
    margin: auto;
    padding-top: 100px;
  }
  
  .companies {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  }
  
  .company {
    display: block;
    justify-content: space-between;
    align-items: center;
  }
  
  .company img {
    margin-left: auto;
    margin-right: auto;
    width: 250px;
    padding: 20px 60px;
    height: auto;
  }
  
  .company-text p {
    align-items: center;
    text-align: center;
    padding: 5px;
    min-width: 240px;
    font-weight: bold;
    text-align: center;
  }
  
  .team {
    opacity: 80%;
    background-image: url("./photo7.webp");
    padding-top: 70px;
    padding-top: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .teammate {
    padding: 10px;
    color: rgb(213, 10, 10);
    flex-basis: 380px;
    align-items: center;
    stop-opacity: 1;
  }
  
  .teammate img {
    margin-left: auto;
    margin-right: auto;
    width: auto;
    height: 200px;
  }
  
  .contact,
  .copyright {
    padding-top: 20px;
  }
  